* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Medium-Dark-Blue: hsl(215, 24%, 20%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}

body {
  font-family: "Overpass", sans-serif;
  min-height: 100vh;
  background-color: var(--Very-Dark-Blue);
  color: var(--Light-Grey);
  font-size: 0.938rem;
  line-height: 1.5;
  background-image: linear-gradient(
    to bottom,
    var(--Very-Dark-Blue),
    var(--Dark-Blue)
  );
}

h1 {
  font-size: 1.7rem;
  color: var(--White);
  margin-bottom: 0.8rem;
}

.grid-center {
  display: grid;
  place-content: center;
}

/*********  MAIN  **********/
.card_conteiner {
  margin: 1rem;
  max-width: 26rem;
  height: 26rem;
  padding: min(8vw, 2.2rem);
  border-radius: 2rem;
  background-color: var(--Dark-Blue);
  background-image: linear-gradient(
    to top,
    var(--Very-Dark-Blue),
    var(--Dark-Blue)
  );
}
.circleBgr {
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  background-color: var(--Medium-Dark-Blue);
  transition: all 300ms;
  padding-top: 5px;
}
.circleBgr:hover {
  cursor: pointer;
  background-color: var(--Orange);
  color: var(--White);
}

/*****  CARD RATING  *****/
.card_rating {
  display: grid;
  gap: 2rem;
}
.rating_conteiner {
  display: flex;
  justify-content: space-between;
}
.star {
  height: 3rem;
  width: 3rem;
  background-color: var(--Medium-Dark-Blue);
  border-radius: 10rem;
}
.card_rating img {
  width: 1rem;
  height: 1rem;
}
.rating_conteiner .circle {
  padding-top: 5px;
}
button {
  background-color: var(--Orange);
  color: var(--White);
  border: none;
  border-radius: 10rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 300ms;
}
button:hover {
  background-color: var(--White);
  color: var(--Orange);
  cursor: pointer;
}

/*****  CARD SUMMARY *****/
.card_summary {
  display: none;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.summary {
  padding: 0.4rem 1.2rem 0.1rem;
  border-radius: 10rem;
  background-color: var(--Medium-Dark-Blue);
  color: var(--Orange);
}
.card_summary p {
  max-width: 21rem;
}

.go-back {
  position: absolute;
  rotate: 180deg;
  scale: 2;
  padding: 3px;
  width: 1.2rem;
  height: 1.2rem;
  line-height: 0.75;
  margin-right: 3px;
  top: 0;
  right: 0;
}
.go-back span {
  padding-right: -5px;
}
/******  FOOTER  *******/

footer {
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 42%, 55%);
}
footer a:hover {
  color: hsl(228, 53%, 70%);
}
